.faq
    h3.faq__title FAQ
    a.faq__link(href="#") What is Credits
    a.faq__link(href="#") How to open a wallet?
    a.faq__link(href="#") Tips and security requirements
    a.faq__link(href="#") Why is it important to keep the password and key file?
    a.faq__link(href="#") What is the wallet address
