include ../info/info.jade

.account
    h3.account__title Account
    
    +info("Wallet", "0xc260aa0dEB7f21F4411E40", "info__title_account","")
    
    +info("Balance", "575.1232 CS", "info__title_account","")
    
    .info
        .info__title.info__title_uppercase Transaction history:
        button.button.button_details DETAILS  
    
    
