.container{
    max-width: 1140px;
    margin: 0px auto;
    padding: 20px;
    position: relative;
}

.container_col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
}

.container__text{
    color: #282828;
    font-weight: 500;
    line-height: 24px;
    max-width: 939px;
    margin: auto;
}

.container_white{
    background-color: #fff;
}

.container_empty_bottom{
    padding-bottom: 300px;
    margin-bottom: 50px;
}

.container_full-width{
    max-width: 100%;
}

.container_force-full{
    width: 100%;
}

.container_background_earth{
    background: url("img/container_background_earth.png") no-repeat center / cover;
    padding-top: 130px !important;
    position: static;
}

.container_gray{
    background-color: #efefef;
}

.container_w945{
    max-width: 945px;
}

.container_w604{
    max-width: 604px;
}

.container__to-top{
    width: 59px;
    height: 59px;
    top: -30px;
    right: -60px;
    transform: scale(2);
    position: absolute;
    cursor: pointer;
    background: url("img/to-top.png") no-repeat center / cover;
}


@media (max-width:1340px),(max-device-width:1340px) {
    .container__to-top{
        right: 30px;
        transform: scale(1.5);
    }
}

@media (max-width:1120px),(max-device-width:1120px) {
    .container_background_earth{
        padding-top: 214px !important;
    }
}

@media (max-width:620px),(max-device-width:620px) {
    .container{
        padding: 10px;
    }

    .container__to-top{
        transform: scale(1);
    }

    .container .container{
        padding: 10px 0px;
    }

    .container_white{
        padding: 10px !important;
    }

}
