.advantage{
    width: 260px;
}

.advantage__img{
    height: 80px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.advantage__img1{
    background-image:url("img/advantage1.png");
}
.advantage__img2{
    background-image:url("img/advantage2.png");
}
.advantage__img3{
    background-image:url("img/advantage3.png");
}

.advantage__title{
    color: #282828;
    text-align: center;
    font-size: 28px;margin-bottom: 15px;
}

.advantage__title_h64{
    height: 64px;
}

.advantage__text{
    color: #282828;
    text-align: center;
    font-size: 14px;
}
