.info{
    margin-bottom: 35px;
}

.info_w250{
    width: 250px;
}

.info__title{
    color: #000000;
    font-weight: 300;
}

.info__title_bold{
    font-weight: bold;
}

.info__title_account{
    color: #3d3d3d;
    font-size: 14px;
}

.info__title_uppercase{
    text-transform: uppercase;
}

.info__title_center{
    text-align: center;
}

.info__text{
    font-weight: bold;
    word-break: break-all;
}

.info__text_fw_400{
    font-weight: 400;
}

.info__generate{
    color: #0095d9;
    font-family: "Muller Regular";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}
