footer.footer
    .footer__wrapper.row
        .footer__col
            .footer__title О Credits wallet
            .footer__text
                | Supported by
                br
                | CREDITS.COM PTE.LTD
                br
                | Singapore
            
        .footer__col
            .footer__title Безопастность
            
        .footer__col
            .footer__title Вопрос в поддержку
            
        .footer__col
            .footer__title Разработчикам
            
    .row.footer__social-row
        a.footer__social-link(href="#")
        a.footer__social-link(href="#")
        a.footer__social-link(href="#")
        a.footer__social-link(href="#")
        a.footer__social-link(href="#")
        a.footer__social-link(href="#")
        a.footer__social-link(href="#")
        a.footer__social-link(href="#")
        a.footer__social-link(href="#")
        
    .footer__copyright Copyright © 2017 CREDITS.COM All Rights Reserved.
