footer.footer
    .footer__wrapper.row
        .footer__col
            .footer__title О Credits wallet
            .footer__text
                | Supported by
                br
                | CREDITS.COM PTE.LTD
                br
                | Singapore
            
        .footer__col
            .footer__title Безопастность
            
        .footer__col
            .footer__title Вопрос в поддержку
            
        .footer__col
            .footer__title Разработчикам
            
    .row.footer__social-row
        a.footer__social-link(href="#", class="footer__social-link_telegram")
        a.footer__social-link(href="#", class="footer__social-link_telegram")
        a.footer__social-link(href="#", class="footer__social-link_facebook")
        a.footer__social-link(href="#", class="footer__social-link_in")
        a.footer__social-link(href="#", class="footer__social-link_medium")
        a.footer__social-link(href="#", class="footer__social-link_twitter")
        a.footer__social-link(href="#", class="footer__social-link_bitcoin")
        a.footer__social-link(href="#", class="footer__social-link_youtube")
        a.footer__social-link(href="#", class="footer__social-link_reddit")
        
    .footer__copyright Copyright © 2017 CREDITS.COM All Rights Reserved.
    
    
