include ../blocks/input/input.jade
include ../blocks/title/title.jade
include ../blocks/info/info.jade

doctype html
html(lang="en")
    include ../blocks/head/head.jade
    body
        noscript
            p Please enable Javascript
            
        header.header.header_transparent
            .header__wrapper.row
                .header__logo
                    .row
                        .header__img
                        .header__title credits
                        .header__subname Wallet
                    .header__label Fast cryptocurrency
                    
                nav.header__nav.row
                    a.header__category(href="#") new wallet
                    a.header__category(href="#") monitor
                    a.header__category(href="#") contracts
                    
                .header__right
                    .row
                        a.header__link(href="#") Есть вопросы?
                        a.header__link(href="#") Поддержка
                        a.header__link(href="#") Разработчикам
                    .row.row_buttons.header__row_buttons(style="visibility:hidden")
                        button.button.header__button-new-acc new account
                        button.button.header__button-sign-in sing in
        
        main
            .container.container_full-width.container_background_earth
                .container.container_w945
                    .title.title_center.title_full-width
                        h1.title__text.title__text_center.title__text_white Open a СREDITS cryptocurrenсy account
                        .title__subtext.title__subtext_center.title__subtext_white.title__subtext_myriad Open a FREE account in the CREDITS cyptocurrency platform. Store CREDITS coins and other tokens. Make transfers and payments.
                    .row.row_main-buttons
                        .container
                            .row__text.row__text_center Create a
                            button.button.button-new-acc new account
                            
                        .row__text.row__text_bottomed or
                        
                        .container
                            .row__text.row__text_center You have already Account?
                            button.button.button-sign-in sing in
                            
                    h2.title__text.title__text_center.title__text_white.title__text_middle FAQ
                    .row.row_faq
                        a(href="#").row__faq-link What is Credits
                        a(href="#").row__faq-link How to open a wallet?
                        a(href="#").row__faq-link Why is it important to keep the password and key file?
                        a(href="#").row__faq-link What is the wallet address
                        
                    a.row__text.row__text_center.row__faq-all(href="#") All FAQs
        
            .container
                .title.title_center
                    h2.title__text.title__text_center.title__text_middle CREDITS cryptocurrency

                .row.row_advantage
                    .advantage
                        .advantage__img.advantage__img1
                        .advantage__title.advantage__title_h64 Speed of transactions
                        .advantage__text Lightning-fast processing times. As little as about 0.1 seconds per transaction. Suitable for micropayments and IOT
                        
                    .advantage
                        .advantage__img.advantage__img2
                        .advantage__title.advantage__title_h64 Transaction fees
                        .advantage__text Inexpensive transaction fees. As low as about 0.001 USD per transaction. Suitable for micropayments and IOT
                        
                    .advantage
                        .advantage__img.advantage__img3
                        .advantage__title.advantage__title_h64 The amount of processing
                        .advantage__text Might be executed more than 1,000,000 transactions per second, with future scalability to 10,000,000 per second
                        
            .container.container_gray.container_full-width
                .container
                    //- .container__to-top
                    .title.title_center
                        h2.title__text.title__text_center What is CREDITS?
                    .container__text
                        | CREDITS is a new digital cryptocurrency and also a payment system, built on the principles of blockchain. It works without a central bank or single administrator, acting as a peer-to-peer decentralized network. The highest level of security is based on the principles of cryptography.
                        br
                        br
                        | The CREDITS cryptocurrency is a new unique technological development characterized by having a very high speed of payment execution (averages less than a second) and a low fee per transaction. This is a completely new independent platform development by the CREDITS project team.
                        br
                        br
                        | All details about transactions occuring between addresses on the system are available to view. Using the service Monitor (http://monitor.credits.com) you can verify a transaction. Electronic payment between two parties takes place without intermediaries and is irreversible — there is no mechanism to cancel the confirmed transaction.
                        br
                        br
                        | The CREDITS Wallet is a browser-based application executable on the user's browser-side. All data is stored and processed in the user's browser & transmitted directly to the network. By doing this, data is not stored on any server. In the case of a password-access key access being lost, the account will be lost.
                        br
                        br
                        | On the CREDITS platform it is possible through programming to implement options of smart contracts for the inssurance of tokens and the creation of various services built on the principles of blockchain.
                        br
                        br
                    button.button.button_continue.button_h50 Open an account in Credits
                    
                
                            
                    
                        
                    
        
        
        include ../blocks/footer/footer.jade
