include ../blocks/input/input.jade
include ../blocks/title/title.jade
include ../blocks/info/info.jade

doctype html
html(lang="en")
    include ../blocks/head/head.jade
    body
        include ../blocks/header/header.jade

        main
            .container
                .row.row_items_top.row_col_620
                    include ../blocks/faq/faq.jade
                    .container.container_force-full
                        +title("Password to file key", "On this page you can open the wallet and make payments in the Credits platform")
                        .container.container_white.container_empty_bottom
                            +input("Enter password to generate your Keystore File and save it.", "Password", "")
                            
                            //- button.button.button_generate generate file key
                            .info
                                .info__title.info__title_center GENERATE FILE KEY
                            button.button.button_continue.button_left continue
        
        include ../blocks/footer/footer.jade
