include ../blocks/input/input.jade
include ../blocks/title/title.jade
include ../blocks/info/info.jade

doctype html
html(lang="en")
    include ../blocks/head/head.jade
    body
        include ../blocks/header/header.jade

        main
            .container
                .row.row_items_top.row_col_620
                    include ../blocks/faq/faq.jade
                    .container
                        +title("Create your Credits wallet", "On this page you can open the wallet and make payments in the Credits platform")
                        .container.container_white.container_empty_bottom
                            +title("Save your KeyStore file", "Текст под заголовком внутри контейнера","title__text_small","title__subtext_small")
                            .input
                                label.input__text 
                                    | DON’T LOSE IT! Keystore file cannot be recovered!
                                    br
                                    | DON’T SHARE IT! Trust no one. Watch out thieves!
                                    br
                                    | MAKE A BACKUP!
                                
                                button.button.button_download Download keystore file (UTC / JSON)
                                
                            .row.row_buttons
                                button.button.button_back back
                                button.button.button_continue continue
        
        include ../blocks/footer/footer.jade
