include ../blocks/input/input.jade
include ../blocks/title/title.jade
include ../blocks/info/info.jade

doctype html
html(lang="en")
    include ../blocks/head/head.jade
    body
        include ../blocks/header/header.jade

        main
            .container
                .row.row_items_top.row_col_620
                    include ../blocks/faq/faq.jade
                    .container
                        +title("Unlock your wallet", "On this page you can open the wallet and make payments in the Credits platform")
                        .container.container_white.container_empty_bottom
                            +title("Заголовок внутри контейнера", "Текст под заголовком внутри контейнера","title__text_small","title__subtext_small")
                            
                            button.button.button_continue.button_font_small private key
                            button.button.button_continue.button_font_small Keystore / JSON File
        
        include ../blocks/footer/footer.jade
