include ../blocks/input/input.jade
include ../blocks/title/title.jade
include ../blocks/info/info.jade

doctype html
html(lang="en")
    include ../blocks/head/head.jade
    body
        include ../blocks/header/header.jade

        main
            .container
                .row.row_items_top.row_col_620
                    .container
                        include ../blocks/account/account.jade
                        include ../blocks/faq/faq.jade
                    .container
                        +title("Check & verify your transaction", "On this page you can open the wallet and make payments in the Credits platform")
                        .container.container_white
                            +title("Заголовок внутри контейнера", "Текст под заголовком внутри контейнера","title__text_light","title__subtext_small title__subtext_bold")
                            +title("To address", "CSv2dfgds2342dfg345sdgdsfgfgsdfgsdfgsdfgr143","title__text_light","title__subtext_small title__subtext_bold")
                            
                            +title("Transaction sum", "23.0547 CS","title__text_light","title__subtext_small title__subtext_bold")
                            .input
                                +title("Trancaction Free", "","title__text_light","title__subtext_small title__subtext_bold")
                                span CS
                                span.input__span-spacer or
                                span.input__fee 0.00051%
                                
                            +title("Transaction code", "0xf316812AE66d5B8aFcC0601Aed747e75dBF7064e","title__text_light","title__subtext_small title__subtext_bold")
                            
                            button.button.button_continue Generate transaction
        
        include ../blocks/footer/footer.jade
