.header{
    background-color: #282828;
}

.header_transparent{
    background-color: transparent;
    position: absolute;
    width: 100%;
}

.header__wrapper{
    max-width: 1140px;
    margin: auto;
    padding-top: 3px;
    padding-bottom: 12px;
}

.header__logo{
    width: 315px;
}

.header__img{
    width: 24px;
    height: 46px;
    background: url("img/header__img.png") no-repeat center / cover;
}

.header__title{
    color: #ffffff;
    font-family: "Montserrat - Semi Bold";
    font-size: 38px;
    font-weight: bold;
    text-transform: uppercase;
}

.header__subname{
    color: #f5d41a;
    font-family: "Montserrat - Semi Bold";
    font-size: 30px;
}

.header__label{
    color: #999999;
    font-family: Montserrat;
    font-size: 17px;
    padding-left: 35px;
    margin-top: -5px;
}

.header__nav{
    width: 315px;
    margin-top: 15px;
    margin-left: 20px;
}

.header__category{
    color: #ffffff;
    font-family: "Montserrat - Semi Bold";
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.header__right{
    display: flex;
    width: 351px;
    flex-direction: column;
}

.header__link{
    color: #999999;
    font-family: Montserrat;
    font-size: 14px;
}

.header__logout{
    align-self: flex-end;
    margin-top: 12px;
    font-size: 12px;
}

.header__button-new-acc{
    background-color: transparent;
    color: #fff;
    border: 2px solid #f6f6f6;
    font-size: 12px;
    padding: 8px 26px !important;
}

.header__row_buttons{
    justify-content: flex-end !important;
}

@media (max-width:1180px), (max-device-width:1180px) {
    .header__wrapper{
        justify-content: space-around !important;
    }
}

@media (max-width:1120px), (max-device-width:1120px) {
    .header__wrapper{
        flex-direction: column;
    }

    .header__label{
        padding: 0px;
        text-align: center;
    }

    .header__logo{
        margin-bottom: 20px;
    }

    .header__nav{
        margin-bottom: 20px;
    }

    .header__logout{
        align-self: center;
    }
}

@media (max-width:370px) {
    .header__logo > .row{
        justify-content: space-around;
    }

    .header__nav{
        justify-content: space-around !important;
    }

    .header__right{
        width: 100%;
    }

    .header__right > .row{
        justify-content: space-around !important;
    }

    .header__link{
        font-size: 12px;
    }
}
