noscript
    p Please enable Javascript
    
header.header
    .header__wrapper.row
        .header__logo
            .row
                .header__img
                .header__title credits
                .header__subname Wallet
            .header__label Fast cryptocurrency
            
        nav.header__nav.row
            a.header__category(href="#") new wallet
            a.header__category(href="#") monitor
            a.header__category(href="#") contracts
            
        .header__right
            .row
                a.header__link(href="#") Есть вопросы?
                a.header__link(href="#") Поддержка
                a.header__link(href="#") Разработчикам
            button.button.header__logout(style="visibility:hidden") log out
                
            
